.kaart{
    background-color: #2E2E2E;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    transition: 1s;
    width: 200px;
    height: 100px; 
    display: block;

    opacity: 0;
    animation: startgame;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes startgame {
    0%{
        opacity: 0
    }
    100%{
        opacity: 1;
    }
}

.kaart img{
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: 1s;
    opacity: 0;
}
.kaart:hover{
    transition: 1s ;
    transform: scale(1.1)
}

.kaart.click.guess_correct img{
    animation-name: guess_correct;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes guess_correct {
    0% {
    opacity: 1;
}
100%{
    opacity: 0.5;
}    
}
.kaart.click.guess_incorrect img{
    animation-name: guess_incorrect;
    animation-duration: 3s;
    /* background-color: #2E2E2E; */
    transition: opacity 3s;
}
@keyframes guess_incorrect {
    0% {
    opacity: 1;
}
100%{
    opacity: 0;
}
}

.kaart.click img{
    animation-name: clicked;
    animation-duration: 1s;
    /* visibility: visible; */
    /* opacity: 1; */
    animation-fill-mode: forwards;
}

@keyframes clicked {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }    
}
.fixed-bottom{
    background-color:rgba(121, 160, 231, 0.411)
} 

body{
    transition: 1s;
    font-family: Verdana;
    background-color: #50A6C2;
}

.conatiner.painting{
    background-color: green;
    bottom: 0px;

}

/* 
<-- dont't use it at the time -->
.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
    }
.m-fadeIn {
visibility: visible;
opacity: 1;
transition: visibility 0s linear 0s, opacity 300ms;
} */
