:root{
    --black: #2E2E2E;
}

.kaart{
    background-color: #2E2E2E;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    

    margin: auto;
    transition: 1s;
    
    /* to-do flexibel maken */
    width: 200px;
    height: 100px; 

    opacity: 0;
    animation: startgame;
    animation-duration: 4s;
    animation-fill-mode: forwards;

    overflow: hidden;
    /* border */

    border: 1px solid;
    border-radius: 25px;

    box-shadow: 0 0 10px 10px rgba(241, 239, 239, 0.2)
}

.padding{
    padding-bottom: 10px;
    padding-top: 10px;
}

@keyframes startgame {
    0%{
        opacity: 0
    }
    100%{
        opacity: 1;
    }
}

#card-container{
    height: 0px;
    width: 95%;
    overflow: hidden;
    transition: height 3s ease-in-out;
}

.kaart img{
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: 1s;
    opacity: 0;

    object-fit: fill;
    
    
}
.kaart:hover{
    transition: 1s ;
    transform: scale(1.1)
}

.kaart.click.guess_correct img{
    animation-name: guess_correct;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes guess_correct {
    0% {
    opacity: 1;
}
100%{
    opacity: 0.5;
}    
}
.kaart.click.guess_incorrect img{
    animation-name: guess_incorrect;
    animation-duration: 3s;
    /* background-color: #2E2E2E; */
    transition: opacity 3s;
}
@keyframes guess_incorrect {
    0% {
    opacity: 1;
}
100%{
    opacity: 0;
}
}

.kaart.click img{
    animation-name: clicked;
    animation-duration: 1s;
    /* visibility: visible; */
    /* opacity: 1; */
    animation-fill-mode: forwards;
}

@keyframes clicked {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }    
}
.fixed-bottom{
    background-color:rgba(121, 160, 231, 0.411)
} 

.painting img{    
    
    border:  2px solid;
    
    border-color:rgba(111, 152, 228, 0.411);
    width: 100%;
    height: 500px;

    box-shadow: 0 0 10px 10px rgba(241, 239, 239, 0.2);

    border-radius: 15px
    
}
.painting-container{
    padding-top: 30px;
    /* border-top: 1px solid rgba(160, 186, 211, 0.5); */
    box-shadow: 0 -10px 20px rgba(241, 239, 239, 0.2)
}
body{
    transition: 1s;
    font-family: Verdana;
    background-color: #50A6C2;
    width: 100%;
    height: 100%;
}

.hide{
    visibility: hidden;
}

#pop-up-container{
    background: rgba(102, 102, 102, 0.5);
    display: none;
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
    right: 0;
    
}

.pop-up-box{
    /* position */
    text-align: center;
    position: sticky;
    font-weight: bold;
    width: 50%;
    background-color: white;
    /* center of the screen */
    top: 25%;
    
    margin-right: 25%;
    margin-left: 25%;
    
    /* border */
    border: 3px solid;
    border-radius: 50px;
    
    padding: 15px;

    box-shadow: 0 0 50px 10px black;
    
}

